html {
    overflow-y: scroll;
}

body {
    background-color: #cce6cc;      /* Set consistent Background Colour*/
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}


.rightDiv, .leftDiv {
    background-color: #cce6cc;      /*Make both right and left div's same as background */
    flex-basis: 20%;
    height: 100%;
}

.middleDiv {
    background-color: #a9a9a9;    /*This is the primary Div*/
    flex-basis: 60%;
    height: 100%;
}

.websiteTitle {
    text-align: center;
}

.textBox {
    padding-left: 2em;
    padding-right: 2em;
}

.highlight {
    background: #caebf2;
}

.highlight2 {
    background: #ff3b3f;
}

.graph {                        /*Setup the backgrounds for the Graph Elements*/
    width: 75%;
    margin: auto;
    padding: 2em;
    background-color: #efefef;
}

#lineGraph {
    fill: none;
    stroke: slategray;
    stroke-width: 0.5;
}

#tooltip, #secondtooltip {
    border: 1px solid #ccc;
    position: absolute;
    padding: 10px;
    background-color: #a9a9a9;
    display: none;
    pointer-events: none;
}